@{
    ViewData["Title"] = "Home Page";
}



        <div class="vd-main-content-inner-container">
            <div class="vd-main-content">
                <div class="cv-main-body ">


                    <section class="vd-section vd-mt5">
                        <div class="vd-section-wrap">
                            <div class="vd-panel vd-ma0">
                                <div class="vd-hero ">
                                    <h1 class="vd-hero-headline">
                                        Start your retail success with&nbsp;Vend.
                                    </h1>
                                    <div class="vd-hero-content">
                                        <p class="vd-hero-intro">
                                            Get to know the basics in three easy&nbsp;ways.
                                        </p>
                                    </div>
                                </div>
                                <div class="vd-g-row vd-g-s-up-1 vd-g-m-up-3 vd-g-l-up-3">

                                    <!-- MAKE A SALE PROMO -->
                                    <div class="vd-g-col vd-pl5 vd-pr5">

                                        <div class="vd-promo  vd-promo--disabled ">
                                            <div class="vd-promo-image-container">
                                                <img class="vd-promo-image " src="~/Images/make-a-sale-v1.svg">
                                            </div>
                                            <div class="vd-promo-content">
                                                <h2 class="vd-promo-headline">Make a Sale</h2>
                                                <div class="vd-promo-intro">
                                                    <span>
                                                        Explore the Sell screen, and learn how to make your first sale in&nbsp;seconds.
                                                    </span>
                                                    <div class="vd-pt5">
                                                        <span>
                                                            You've made a sale!
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ADD A PRODUCT PROMO -->
                                    <div class="vd-g-col vd-pl5 vd-pr5">


                                        <div class="vd-promo  vd-promo--disabled ">
                                            <div class="vd-promo-image-container">
                                                <img class="vd-promo-image " src="//vendfrontendassets.global.ssl.fastly.net/images/explore/add-a-product-v1.svg">
                                            </div>
                                            <div class="vd-promo-content">
                                                <h2 class="vd-promo-headline">Add a Product</h2>
                                                <div class="vd-promo-intro">
                                                    <span>
                                                        Manage your products easily, whether you want to add one
                                                        or import one&nbsp;thousand.
                                                    </span>
                                                    <div class="vd-pt5">
                                                        <span>
                                                            You've added a product!
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ADD A CUSTOMER PROMO -->
                                    <div class="vd-g-col vd-pl5 vd-pr5">


                                        <div class="vd-promo   ">
                                            <div class="vd-promo-image-container">
                                                <img class="vd-promo-image " src="//vendfrontendassets.global.ssl.fastly.net/images/explore/add-a-customer-v1.svg">
                                            </div>
                                            <div class="vd-promo-content">
                                                <h2 class="vd-promo-headline">Add a Customer</h2>
                                                <div class="vd-promo-intro">
                                                    <span>
                                                        Start a customer base to grow repeat business or simply
                                                        upload existing&nbsp;customers.
                                                    </span>
                                                    <div class="vd-pt5">
                                                        <a class="vd-btn vd-btn--do" href="/customer/add?return=dashboard" data-event-name="Add Customer">
                                                            Add a Customer
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- If all three explore stages are complete, link the user to their default dashboard -->
                                <!-- Otherwise show a guide link -->
                                <p class="vd-hero-footer-link">
                                    For help with setting up Vend, check out the
                                    <a class="vd-link" href="https://www.vendhq.com/university/getting-started" target="_blank" data-event-name="View Getting Started Guide">
                                        Getting Started Guide
                                    </a>
                                </p>
                            </div>
                        </div>
                    </section>




                    <section class="vd-section">
                        <div class="vd-section-wrap">
                            <div class="vd-hero vd-hero--transparent vd-pa0">
                                <h1 class="vd-hero-headline">
                                    Every part of your business, in&nbsp;sync.
                                </h1>
                                <div class="vd-hero-content">
                                    <p class="vd-hero-intro">
                                        Here are some of the ways to automate the heavy lifting of running your business so you can focus on&nbsp;success.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="vd-section vd-mb5">
                        <div class="vd-section-wrap">
                            <div class="vd-g-row vd-flex--justify-center">
                                <div class="vd-g-col vd-g-s-12 vd-g-m-6 vd-g-l-6">


                                    <div class="vd-promo vd-promo--full  ">
                                        <div class="vd-promo-image-container">
                                            <img class="vd-promo-image vd-promo-image--restrained" src="//vendfrontendassets.global.ssl.fastly.net/images/explore/ecommerce-v1.svg">
                                        </div>
                                        <div class="vd-promo-content">
                                            <h2 class="vd-promo-headline">Sell in-store and online.</h2>
                                            <div class="vd-promo-intro">
                                                <span>
                                                    Add a new product to your catalogue and sell it anywhere instantly.
                                                    Manage your in-store and online inventory, customers and sales
                                                    all in one&nbsp;place.
                                                </span>
                                                <p class="vd-mt2">
                                                    <a href="/setup/add-ons" class="vd-link" data-event-name="Clicked: Explore our Ecommerce Add-ons">
                                                        Explore our Ecommerce Add-ons
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="vd-g-col vd-g-s-12 vd-g-m-6 vd-g-l-6">


                                    <div class="vd-promo vd-promo--full  ">
                                        <div class="vd-promo-image-container">
                                            <img class="vd-promo-image vd-promo-image--restrained" src="//vendfrontendassets.global.ssl.fastly.net/images/explore/explore-xero-v3.svg">
                                        </div>
                                        <div class="vd-promo-content">
                                            <h2 class="vd-promo-headline">See your performance in real-time.</h2>
                                            <div class="vd-promo-intro">
                                                <span>
                                                    See your cashflow in real-time with Xero, the most popular integrated online accounting software.
                                                    Post daily sales reports, generate invoices and sync&nbsp;customers.
                                                </span>
                                                <p class="vd-mt2">
                                                    <a href="/setup/add-ons" class="vd-link" data-event-name="Clicked: Learn more about Xero">
                                                        Learn more about Xero
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="vd-g-col vd-g-s-12 vd-g-m-6 vd-g-l-6">


                                    <div class="vd-promo vd-promo--full  ">
                                        <div class="vd-promo-image-container">
                                            <img class="vd-promo-image vd-promo-image--restrained" src="//vendfrontendassets.global.ssl.fastly.net/images/explore/stock-v1.svg">
                                        </div>
                                        <div class="vd-promo-content">
                                            <h2 class="vd-promo-headline">Always have stock on hand.</h2>
                                            <div class="vd-promo-intro">
                                                <span>
                                                    Don’t waste time figuring how much of what to order.
                                                    Instantly add products that are running low to your stock orders,
                                                    so you always have what your customers&nbsp;want.
                                                </span>
                                                <p class="vd-mt2">
                                                    <a href="/consignment" class="vd-link" data-event-name="Clicked: Make a stock order">
                                                        Make a stock order
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="vd-g-col vd-g-s-12 vd-g-m-6 vd-g-l-6">


                                    <div class="vd-promo vd-promo--full  ">
                                        <div class="vd-promo-image-container">
                                            <img class="vd-promo-image vd-promo-image--restrained" src="//vendfrontendassets.global.ssl.fastly.net/images/explore/user-permissions-v1.svg">
                                        </div>
                                        <div class="vd-promo-content">
                                            <h2 class="vd-promo-headline">Know what your staff are up to.</h2>
                                            <div class="vd-promo-intro">
                                                <span>
                                                    Whether it’s tracking sales performance,
                                                    or making sure they can do only what they need to conduct their role,
                                                    gain full control over your&nbsp;staff.
                                                </span>
                                                <p class="vd-mt2">
                                                    <a href="/setup/user" class="vd-link" data-event-name="Clicked: Check out user permissions">
                                                        Check out user permissions
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
