<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from thetheme.io/theadmin/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 May 2020 19:37:19 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TheAdmin - Responsive Bootstrap 4 Admin, Dashboard &amp; WebApp Template">
    <meta name="keywords" content="dashboard, index, main">

    <title>@ViewData["Title"] - EPOS</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i|Dosis:300,500" rel="stylesheet">

    <!-- Styles -->

    <link href="~/assets/css/core.min.css" rel="stylesheet">
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/style.min.css" rel="stylesheet">
    <link href="~/assets/css/StyleSheet.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/img/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="The Admin Template of 2018!">
    <meta property="og:description" content="TheAdmin is a responsive, professional, and multipurpose admin template powered with Bootstrap 4.">
    <meta property="og:image" content="~/assets/img/og-img.jpg">
    <meta property="og:url" content="index.html">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>




    <!-- Sidebar -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
        <header class="sidebar-header">
                @*<a class="logo-icon" href="index-2.html"><i class="fa fa-bars" aria-hidden="true"></i></a>*@
            <span class="logo">
                <a href="index-2.html"><img src="~/assets/img/logo-light.png" alt="logo"></a>
            </span>
            <span class="sidebar-toggle-fold"><a class="logo-icon"><i class="fa fa-bars" aria-hidden="true"></i></a></span>
        </header>

        <nav class="sidebar-navigation">
            <ul class="menu">

                <li class="menu-item">
                    <a class="menu-link" href="dashboard/index.html">
                        <span class="left-menu-home-icon icon fa fa-home"></span>
                        <span class="title">Home</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-sell-icon icon fa fa-tv"></span>
                        <span class="title">Sell</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="menu-submenu">
                        <li class="menu-item">
                            <a class="menu-link" href="samples/invoicer/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Sell</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="samples/job/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Open/Close</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="samples/support/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Sales History</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="samples/support/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Cash Management</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="samples/support/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Status</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="samples/support/index.html" target="_blank">
                                <span class="dot"></span>
                                <span class="title">Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-sell-ledger-icon icon ti-layout"></span>
                        <span class="title">Sales Ledger</span>
                    </a>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-sales-ledger-icon icon fa fa-align-left"></span>
                        <span class="title">Reports</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="menu-submenu">
                        <li class="menu-item">
                            <a class="menu-link" href="layout/grid.html">
                                <span class="dot"></span>
                                <span class="title">Retail Dashboard</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/layout.html">
                                <span class="dot"></span>
                                <span class="title">Sales Reports</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/sidebar.html">
                                <span class="dot"></span>
                                <span class="title">Inventory Reports</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/topbar.html">
                                <span class="dot"></span>
                                <span class="title">Payment Reports</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/header.html">
                                <span class="dot"></span>
                                <span class="title">Register Closures</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/aside.html">
                                <span class="dot"></span>
                                <span class="title">Gift Card Reports</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/card.html">
                                <span class="dot"></span>
                                <span class="title">Store Card Reports</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="layout/quickview.html">
                                <span class="dot"></span>
                                <span class="title">Text Reports</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-product-icon icon fa fa-plus-circle"></span>
                        <span class="title">Products</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="menu-submenu">
                        <li class="menu-item">
                            <a class="menu-link" href="extension/ajax-loader.html">
                                <span class="dot"></span>
                                <span class="title">Products</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="extension/animation-animate.html">
                                <span class="dot"></span>
                                <span class="title">Stock Control</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="extension/framework-vuejs.html">
                                <span class="dot"></span>
                                <span class="title">Inventory Counts</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="extension/pace.html">
                                <span class="dot"></span>
                                <span class="title">Promotions</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="extension/fullscreen.html">
                                <span class="dot"></span>
                                <span class="title">Price Book</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="extension/tour.html">
                                <span class="dot"></span>
                                <span class="title">Product types</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="extension/tour.html">
                                <span class="dot"></span>
                                <span class="title">Suppliers</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="extension/tour.html">
                                <span class="dot"></span>
                                <span class="title">Brands</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="extension/tour.html">
                                <span class="dot"></span>
                                <span class="title">Product Tags</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-customer-icon icon ti-ruler-pencil"></span>
                        <span class="title">Customers</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="menu-submenu">
                        <li class="menu-item">
                            <a class="menu-link" href="uikit/buttons.html">
                                <span class="dot"></span>
                                <span class="title">Customers</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="uikit/badges.html">
                                <span class="dot"></span>
                                <span class="title">Groups</span>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item">
                    <a class="menu-link" href="#">
                        <span class="left-menu-setup-icon icon fa fa-check-square"></span>
                        <span class="title">Setup</span>
                        <span class="arrow"></span>
                    </a>

                    <ul class="menu-submenu">
                        <li class="menu-item">
                            <a class="menu-link" href="form/input-default.html">
                                <span class="dot"></span>
                                <span class="title">General</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/control-checkbox.html">
                                <span class="dot"></span>
                                <span class="title">Billing</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/picker-select.html">
                                <span class="dot"></span>
                                <span class="title">Outlets Registers</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/addon-slider.html">
                                <span class="dot"></span>
                                <span class="title">Payment Types</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/upload.html">
                                <span class="dot"></span>
                                <span class="title">Sales Taxes</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/editor-summernote.html">
                                <span class="dot"></span>
                                <span class="title">Loyalty</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/lookup.html">
                                <span class="dot"></span>
                                <span class="title">Users</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/publisher-single.html">
                                <span class="dot"></span>
                                <span class="title">Add-ons</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/layout.html">
                                <span class="dot"></span>
                                <span class="title">Personal Tokens</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/mask.html">
                                <span class="dot"></span>
                                <span class="title">Gift Cards</span>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a class="menu-link" href="form/validation.html">
                                <span class="dot"></span>
                                <span class="title">Store Credit</span>
                            </a>
                        </li>
                    </ul>
                </li>



            </ul>
        </nav>

    </aside>
    <!-- END Sidebar -->
    <!-- Topbar -->
    <header class="topbar">
        <div class="topbar-left">
            <span class="topbar-btn sidebar-toggler"><i>&#9776;</i></span>

            @*<a class="topbar-btn d-none d-md-block" href="#" data-provide="fullscreen tooltip" title="Fullscreen">
            <i class="material-icons fullscreen-default">fullscreen</i>
            <i class="material-icons fullscreen-active">fullscreen_exit</i>
        </a>*@

            <div class="dropdown d-none d-md-block">
                <span class="topbar-btn" data-toggle="dropdown"><i class="ti-layout-grid3-alt"></i></span>
                <div class="dropdown-menu dropdown-grid">
                    <a class="dropdown-item" href="dashboard/general.html">
                        
                        <span data-i8-icon="home" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><polygon fill="#E8EAF6" points="42,39 6,39 6,23 24,6 42,23"></polygon><g fill="#C5CAE9"><polygon points="39,21 34,16 34,9 39,9"></polygon><rect x="6" y="39" width="36" height="5"></rect></g><polygon fill="#B71C1C" points="24,4.3 4,22.9 6,25.1 24,8.4 42,25.1 44,22.9"></polygon><rect x="18" y="28" fill="#D84315" width="12" height="16"></rect><rect x="21" y="17" fill="#01579B" width="6" height="6"></rect><path fill="#FF8A65" d="M27.5,35.5c-0.3,0-0.5,0.2-0.5,0.5v2c0,0.3,0.2,0.5,0.5,0.5S28,38.3,28,38v-2C28,35.7,27.8,35.5,27.5,35.5z"></path></svg></span>
                        <span class="title">Dashboard</span>
                    </a>
                    <a class="dropdown-item" href="page/gallery.html">
                        <span data-i8-icon="stack_of_photos" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><rect x="12.3" y="12.3" transform="matrix(.948 .318 -.318 .948 9.725 -6.994)" fill="#64B5F6" width="28" height="28"></rect><rect x="15.6" y="15.4" transform="matrix(.951 .31 -.31 .951 9.176 -6.977)" fill="#1E88E5" width="22" height="20"></rect><rect x="8.1" y="8.1" transform="matrix(.983 .181 -.181 .983 4.385 -3.65)" fill="#90CAF9" width="28" height="28"></rect><rect x="11.3" y="11.2" transform="matrix(.985 .175 -.175 .985 4.048 -3.566)" fill="#42A5F5" width="22" height="20"></rect><rect x="4" y="4" fill="#BBDEFB" width="28" height="28"></rect><rect x="7" y="7" fill="#4CAF50" width="22" height="20"></rect><path fill="#fff" d="M16,13c0-1.1,0.9-2,2-2s2,0.9,2,2s-2,4-2,4S16,14.1,16,13z"></path><path fill="#fff" d="M20,21c0,1.1-0.9,2-2,2s-2-0.9-2-2s2-4,2-4S20,19.9,20,21z"></path><path fill="#fff" d="M13.5,16.7c-1-0.6-1.3-1.8-0.7-2.7c0.6-1,1.8-1.3,2.7-0.7c1,0.6,2.5,3.7,2.5,3.7S14.5,17.3,13.5,16.7z"></path><path fill="#fff" d="M22.5,17.3c1,0.6,1.3,1.8,0.7,2.7c-0.6,1-1.8,1.3-2.7,0.7C19.5,20.2,18,17,18,17S21.5,16.7,22.5,17.3z"></path><path fill="#fff" d="M22.5,16.7c1-0.6,1.3-1.8,0.7-2.7c-0.6-1-1.8-1.3-2.7-0.7C19.5,13.8,18,17,18,17S21.5,17.3,22.5,16.7z"></path><path fill="#fff" d="M13.5,17.3c-1,0.6-1.3,1.8-0.7,2.7c0.6,1,1.8,1.3,2.7,0.7c1-0.6,2.5-3.7,2.5-3.7S14.5,16.7,13.5,17.3z"></path><circle fill="#FFC107" cx="18" cy="17" r="2"></circle></svg></span>
                        <span class="title">Gallery</span>
                    </a>
                    <a class="dropdown-item" href="page/search.html">
                        <span data-i8-icon="search" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><g fill="#616161"><rect x="34.6" y="28.1" transform="matrix(.707 -.707 .707 .707 -15.154 36.586)" width="4" height="17"></rect><circle cx="20" cy="20" r="16"></circle></g><rect x="36.2" y="32.1" transform="matrix(.707 -.707 .707 .707 -15.839 38.239)" fill="#37474F" width="4" height="12.3"></rect><circle fill="#64B5F6" cx="20" cy="20" r="13"></circle><path fill="#BBDEFB" d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1 C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path></svg></span>
                        <span class="title">Search</span>
                    </a>
                    <a class="dropdown-item" href="page-app/calendar.html">
                        <span data-i8-icon="calendar" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><path fill="#CFD8DC" d="M5,38V14h38v24c0,2.2-1.8,4-4,4H9C6.8,42,5,40.2,5,38z"></path><path fill="#F44336" d="M43,10v6H5v-6c0-2.2,1.8-4,4-4h30C41.2,6,43,7.8,43,10z"></path><g fill="#B71C1C"><circle cx="33" cy="10" r="3"></circle><circle cx="15" cy="10" r="3"></circle></g><g fill="#B0BEC5"><path d="M33,3c-1.1,0-2,0.9-2,2v5c0,1.1,0.9,2,2,2s2-0.9,2-2V5C35,3.9,34.1,3,33,3z"></path><path d="M15,3c-1.1,0-2,0.9-2,2v5c0,1.1,0.9,2,2,2s2-0.9,2-2V5C17,3.9,16.1,3,15,3z"></path></g><g fill="#90A4AE"><rect x="13" y="20" width="4" height="4"></rect><rect x="19" y="20" width="4" height="4"></rect><rect x="25" y="20" width="4" height="4"></rect><rect x="31" y="20" width="4" height="4"></rect><rect x="13" y="26" width="4" height="4"></rect><rect x="19" y="26" width="4" height="4"></rect><rect x="25" y="26" width="4" height="4"></rect><rect x="31" y="26" width="4" height="4"></rect><rect x="13" y="32" width="4" height="4"></rect><rect x="19" y="32" width="4" height="4"></rect><rect x="25" y="32" width="4" height="4"></rect><rect x="31" y="32" width="4" height="4"></rect></g></svg></span>
                        <span class="title">Calendar</span>
                    </a>
                    <a class="dropdown-item" href="page-app/chat.html">
                        <span data-i8-icon="sms" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><path fill="#009688" d="M37,39H11l-6,6V11c0-3.3,2.7-6,6-6h26c3.3,0,6,2.7,6,6v22C43,36.3,40.3,39,37,39z"></path><g fill="#fff"><circle cx="24" cy="22" r="3"></circle><circle cx="34" cy="22" r="3"></circle><circle cx="14" cy="22" r="3"></circle></g></svg></span>
                        <span class="title">Chat</span>
                    </a>
                    <a class="dropdown-item" href="page-app/mailbox.html">
                        <span data-i8-icon="invite" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><path fill="#78909C" d="M40,41H8c-2.2,0-4-1.8-4-4l0-20.9c0-1.3,0.6-2.5,1.7-3.3L24,0l18.3,12.8c1.1,0.7,1.7,2,1.7,3.3V37 C44,39.2,42.2,41,40,41z"></path><rect x="12" y="11" fill="#fff" width="24" height="22"></rect><path fill="#CFD8DC" d="M40,41H8c-2.2,0-4-1.8-4-4l0-20l20,13l20-13v20C44,39.2,42.2,41,40,41z"></path><g fill="#4CAF50"><rect x="22" y="14" width="4" height="12"></rect><rect x="18" y="18" width="12" height="4"></rect></g></svg></span>
                        <span class="title">Emails</span>
                    </a>
                    <a class="dropdown-item" href="page-app/users.html">
                        <span data-i8-icon="contacts" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><path fill="#FF7043" d="M38,44H12V4h26c2.2,0,4,1.8,4,4v32C42,42.2,40.2,44,38,44z"></path><path fill="#BF360C" d="M10,4h2v40h-2c-2.2,0-4-1.8-4-4V8C6,5.8,7.8,4,10,4z"></path><g fill="#AB300B"><circle cx="26" cy="20" r="4"></circle><path d="M33,30c0,0-1.9-4-7-4c-5.1,0-7,4-7,4v2h14V30z"></path></g></svg></span>
                        <span class="title">Contacts</span>
                    </a>
                    <a class="dropdown-item" href="widget/chart.html">
                        <span data-i8-icon="bar_chart" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><g fill="#00BCD4"><rect x="19" y="22" width="10" height="20"></rect><rect x="6" y="12" width="10" height="30"></rect><rect x="32" y="6" width="10" height="36"></rect></g></svg></span>
                        <span class="title">Charts</span>
                    </a>
                    <a class="dropdown-item" href="page/profile.html">
                        <span data-i8-icon="businessman" aria-hidden="true" class="i8-icon i8-svg-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" enable-background="new 0 0 48 48" version="1.0" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: inline-block;"><polygon fill="#FF9800" points="24,37 19,31 19,25 29,25 29,31"></polygon><g fill="#FFA726"><circle cx="33" cy="19" r="2"></circle><circle cx="15" cy="19" r="2"></circle></g><path fill="#FFB74D" d="M33,13c0-7.6-18-5-18,0c0,1.1,0,5.9,0,7c0,5,4,9,9,9s9-4,9-9C33,18.9,33,14.1,33,13z"></path><path fill="#424242" d="M24,4c-6.1,0-10,4.9-10,11c0,0.8,0,2.3,0,2.3l2,1.7v-5l12-4l4,4v5l2-1.7c0,0,0-1.5,0-2.3c0-4-1-8-6-9l-1-2 H24z"></path><g fill="#784719"><circle cx="28" cy="19" r="1"></circle><circle cx="20" cy="19" r="1"></circle></g><polygon fill="#fff" points="24,43 19,31 24,32 29,31"></polygon><polygon fill="#D32F2F" points="23,35 22.3,39.5 24,43.5 25.7,39.5 25,35 26,34 24,32 22,34"></polygon><path fill="#546E7A" d="M29,31L29,31l-5,12l-5-12c0,0-11,2-11,13h32C40,33,29,31,29,31z"></path></svg></span>
                        <span class="title">Profile</span>
                    </a>
                </div>
            </div>

            <div class="topbar-divider d-none d-md-block"></div>

            @*<div class="lookup d-none d-md-block topbar-search" id="theadmin-search">
            <input class="form-control w-300px" type="text">
            <div class="lookup-placeholder">
                <i class="ti-search"></i>
                <span data-provide="typing" data-type="&lt;strong&gt;Type&lt;/strong&gt; Button|&lt;strong&gt;Type&lt;/strong&gt; Slider|&lt;strong&gt;Type&lt;/strong&gt; Layout|&lt;strong&gt;Type&lt;/strong&gt; Modal|&lt;strong&gt;Try&lt;/strong&gt; typing any keyword..." data-loop="false" data-type-speed="90" data-back-speed="50" data-show-cursor="false"></span>
            </div>
        </div>*@
        </div>

        <div class="topbar-right">
            <a class="topbar-btn" href="#qv-global" data-toggle="quickview"><i class="ti-align-right"></i></a>

            <div class="topbar-divider"></div>

            <ul class="topbar-btns">
                <li class="dropdown">
                    <span class="topbar-btn" data-toggle="dropdown"><img class="avatar" src="~/assets/img/avatar/1.jpg" alt="..."></span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="page/profile.html"><i class="ti-user"></i> Profile</a>
                        <a class="dropdown-item" href="page-app/mailbox.html">
                            <div class="flexbox">
                                <i class="ti-email"></i>
                                <span class="flex-grow">Inbox</span>
                                <span class="badge badge-pill badge-info">5</span>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="page-extra/user-lock-1.html"><i class="ti-lock"></i> Lock</a>
                        <a class="dropdown-item" href="page-extra/user-login-3.html"><i class="ti-power-off"></i> Logout</a>
                    </div>
                </li>

                <!-- Notifications -->
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn has-new" data-toggle="dropdown"><i class="ti-bell"></i></span>
                    <div class="dropdown-menu dropdown-menu-right">

                        <div class="media-list media-list-hover media-list-divided media-list-xs">
                            <a class="media media-new" href="#">
                                <span class="avatar bg-success"><i class="ti-user"></i></span>
                                <div class="media-body">
                                    <p>New user registered</p>
                                    <time datetime="2018-07-14 20:00">Just now</time>
                                </div>
                            </a>

                            <a class="media" href="#">
                                <span class="avatar bg-info"><i class="ti-shopping-cart"></i></span>
                                <div class="media-body">
                                    <p>New order received</p>
                                    <time datetime="2018-07-14 20:00">2 min ago</time>
                                </div>
                            </a>

                            <a class="media" href="#">
                                <span class="avatar bg-warning"><i class="ti-face-sad"></i></span>
                                <div class="media-body">
                                    <p>Refund request from <b>Ashlyn Culotta</b></p>
                                    <time datetime="2018-07-14 20:00">24 min ago</time>
                                </div>
                            </a>

                            <a class="media" href="#">
                                <span class="avatar bg-primary"><i class="ti-money"></i></span>
                                <div class="media-body">
                                    <p>New payment has made through PayPal</p>
                                    <time datetime="2018-07-14 20:00">53 min ago</time>
                                </div>
                            </a>
                        </div>

                        <div class="dropdown-footer">
                            <div class="left">
                                <a href="#">Read all notifications</a>
                            </div>

                            <div class="right">
                                <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                                <a href="#" data-provide="tooltip" title="Update"><i class="fa fa-repeat"></i></a>
                                <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                            </div>
                        </div>

                    </div>
                </li>
                <!-- END Notifications -->
                <!-- Messages -->
                <li class="dropdown d-none d-md-block">
                    <span class="topbar-btn" data-toggle="dropdown"><i class="ti-email"></i></span>
                    <div class="dropdown-menu dropdown-menu-right">

                        <div class="media-list media-list-divided media-list-hover media-list-xs scrollable" style="height: 290px">
                            <a class="media media-new1" href="page-app/mailbox-single.html">
                                <span class="avatar status-success">
                                    <img src="~/assets/img/avatar/1.jpg" alt="...">
                                </span>

                                <div class="media-body">
                                    <p><strong>Maryam Amiri</strong> <time class="float-right" datetime="2018-07-14 20:00">23 min ago</time></p>
                                    <p class="text-truncate">Authoritatively exploit resource maximizing technologies before technically.</p>
                                </div>
                            </a>

                            <a class="media media-new1" href="page-app/mailbox-single.html">
                                <span class="avatar status-warning">
                                    <img src="~/assets/img/avatar/2.jpg" alt="...">
                                </span>

                                <div class="media-body">
                                    <p><strong>Hossein Shams</strong> <time class="float-right" datetime="2018-07-14 20:00">48 min ago</time></p>
                                    <p class="text-truncate">Continually plagiarize efficient interfaces after bricks-and-clicks niches.</p>
                                </div>
                            </a>

                            <a class="media" href="page-app/mailbox-single.html">
                                <span class="avatar status-dark">
                                    <img src="~/assets/img/avatar/3.jpg" alt="...">
                                </span>

                                <div class="media-body">
                                    <p><strong>Helen Bennett</strong> <time class="float-right" datetime="2018-07-14 20:00">3 hours ago</time></p>
                                    <p class="text-truncate">Objectively underwhelm cross-unit web-readiness before sticky outsourcing.</p>
                                </div>
                            </a>

                            <a class="media" href="page-app/mailbox-single.html">
                                <span class="avatar status-success bg-purple">FT</span>

                                <div class="media-body">
                                    <p><strong>Fidel Tonn</strong> <time class="float-right" datetime="2018-07-14 20:00">21 hours ago</time></p>
                                    <p class="text-truncate">Interactively innovate transparent relationships with holistic infrastructures.</p>
                                </div>
                            </a>

                            <a class="media" href="page-app/mailbox-single.html">
                                <span class="avatar status-danger">
                                    <img src="~/assets/img/avatar/4.jpg" alt="...">
                                </span>

                                <div class="media-body">
                                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2018-07-14 20:00">Yesterday</time></p>
                                    <p class="text-truncate">Collaboratively visualize corporate initiatives for web-enabled value.</p>
                                </div>
                            </a>

                            <a class="media" href="page-app/mailbox-single.html">
                                <span class="avatar status-success">
                                    <img src="~/assets/img/avatar/5.jpg" alt="...">
                                </span>

                                <div class="media-body">
                                    <p><strong>Freddie Arends</strong> <time class="float-right" datetime="2018-07-14 20:00">Yesterday</time></p>
                                    <p class="text-truncate">Interactively reinvent standards compliant supply chains through next-generation bandwidth.</p>
                                </div>
                            </a>
                        </div>

                        <div class="dropdown-footer">
                            <div class="left">
                                <a href="#">Read all messages</a>
                            </div>

                            <div class="right">
                                <a href="#" data-provide="tooltip" title="Mark all as read"><i class="fa fa-circle-o"></i></a>
                                <a href="#" data-provide="tooltip" title="Settings"><i class="fa fa-gear"></i></a>
                            </div>
                        </div>

                    </div>
                </li>
                <!-- END Messages -->

            </ul>

            <div class="topbar-divider"></div>

            <a class="btn btn-xs btn-round btn-success mr-2" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Buy TheAdmin</a>

        </div>
    </header>
    <!-- END Topbar -->
    <!-- Main container -->
    <main class="main-container">

        <div class="main-content">
            @RenderBody()

            <br>

        </div><!--/.main-content -->
        <!-- Footer -->
        <footer class="site-footer">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-md-left">Copyright © 2019 <a href="http://thetheme.io/theadmin">TheAdmin</a>. All rights reserved.</p>
                </div>

                <div class="col-md-6">
                    <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link" href="help/articles.html">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="help/faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://themeforest.net/item/theadmin-responsive-bootstrap-4-admin-dashboard-webapp-template/20475359?license=regular&amp;open_purchase_for_item_id=20475359&amp;purchasable=source&amp;ref=thethemeio">Purchase Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </main>
    <!-- Global quickview -->
    <div id="qv-global" class="quickview" data-url="~/assets/data/quickview-global-for-index.html">
        <div class="spinner-linear">
            <div class="line"></div>
        </div>
    </div>
    <!-- END Global quickview -->

    <script src="~/assets/js/core.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/script.min.js"></script>

</body>
</html>
